.header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 10;
}

.header__logo {
  text-align: center;
}

#logo {
  height: 64px;
  line-height: 64px;
  overflow: hidden;
}

#logo img {
  height: 48px;
}

.menu-icon {
  display: none;
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 1;
  width: 16px;
  height: 22px;
  cursor: pointer;
}

@media only screen and (max-width: 767.99px) {
  .menu-icon {
      display: block;
  }
}

.menu, .menu__item {
  height: 64px;
}

.menu__item {
  line-height: 64px;
}